body {
  margin: 0;
	padding: 0;

  height: 100vh;

  position: relative;
}

.App {
  /* padding: 30px; */
  display: flex;
  justify-content: center;
  width: 100%;

}

.App > div {
  margin-right: 54px;
}


.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}


.is-done {
  opacity: .5;
}



/*  */


.container-todo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* .AddItemForm {
  width: 200px;
} */

.wrapper-app {
  min-height: 100%;
}
main {
  overflow-y: scroll;
  /* height: 800px; */
  max-height: 90vh;

  /* border: 1px solid red; */


  z-index: 0;
}

footer {
  position: absolute;
  left: 0;
	bottom: 0;
	width: 100%;

  z-index: 5;
}